<div class="container">
  <app-sidebar class="app-sidebar grid-item"></app-sidebar>
  <app-patient-info-card *ngIf="userRole === 'patient'" class="user-info grid-item" ></app-patient-info-card>
  <app-doctor-info-card *ngIf="userRole === 'doctor'" class="user-info grid-item"></app-doctor-info-card>

  <div class="grid-item">
    <div class="card-element" *ngIf="userRole !== 'admin'">
      <h2>ჩემი ჯავშანი  <span>({{ getToTal() }})</span></h2>     
    </div>
    <app-booking-calendar class="booking-calendar"></app-booking-calendar>
  </div>
</div>
