<div class="auth" *ngIf="showAuth">
    <a href="#" class="auth__link auth__link--active" (click)="toggleLoginForm(); $event.preventDefault()">ავტორიზაცია</a>
    <span>/</span>
    <a routerLink="/addPatient" class="auth__link">რეგისტრაცია</a>
</div>
<!-- <p *ngIf="this.userRole === 'admin'"> AAAAAAAAAAAAAAAAA</p> -->
<div *ngIf="isLoggedIn" class="user-greeting">
  <img [src]="'https://localhost:7042' + this.userImageUrl" alt="Patient image" class="patient-image">
  <!-- <span> {{this.userName}}</span> -->
  <span> {{this.userRole}}</span>
  <a routerLink="/" (click)="logout()"> Logout</a>
</div>
<div *ngIf="showLoginForm" class="login-popup-wrapper">
    <div class="login-container">
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="authenticate()">
          <h2 class="title">ავტორიზაცია</h2> 
         
            <div class="input-group">
              <input type="text" id="email" name="email" placeholder="მეილი / მობილური ნომერი" [(ngModel)]="login.email" required> 
            </div>
            <div class="input-group">
              <input type="password" id="password" name="password" placeholder="პაროლი"[(ngModel)]="login.password" required> 
              <div class="text-mutted"><span> პაროლის აღდგენა</span></div>
            </div>
            <div class="input-group">
              <button type="submit" [disabled]="!loginForm.valid" class="login-button">შესვლა</button>
            </div>
     
        </form>
        
      </div>   
</div>


